nav {
    display: flex; 
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.box {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    flex: none;
    margin-left: 20px;
    margin-top: 20px;
}
span {
    margin-left: 10px;
}
.delete-btn {
    background-color: #827ffe;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 0px;
    width: 100%;
}
.delete-btn:hover {
    background-color: #403866;
}
.bookmark-display {
    display: flex;
    flex-wrap: wrap; /* This makes the bookmarks wrap to the next line */
    align-content: flex-start;
    box-sizing: border-box;
    margin: 20px;
    height: 100vh;
    width: 96vw;
    background-color: #282828;
}
.chapter-display {
    text-align: left;
}
.chapter-details {
    min-width: 100px;
}
img {
    height: 200px;
    width: 150px;
}
nav a {
    padding: 5px;
    color: #827ffe;
}
nav a:hover {
    background-color: #403866;
    color: white;
}
h3 {
    color: white;
}
.header {
    text-align: center;
    text-transform: uppercase;
    color: #827ffe;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.input-display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-pos {
    margin: 20px;
}
.input-box {
    box-sizing: border-box; /* includes width and height into the total size */
    width: 400px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
}
.login-btn {
    width: 405px;
    background-color: #827ffe; 
    margin: 20px; 
    border: none;
    height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}
.login-btn:hover{
    background-color:#403866;
}
.input-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.input-group label {
    margin-right: 20px;
    min-width: 120px;   
}
.add-bookmark-input-box {
    box-sizing: border-box; /* includes width and height into the total size */
    width: 300px;
    height: 25px;
    padding: 5px;
}
.add-bookmark-btn{
    width: 100px;
    height: 25px;
    margin-left: 140px;
    margin-top: 20px;
    border: 1px;
    border-radius: 0;
    background-color: #827ffe;
    color: white;
}
.add-bookmark-btn:hover{
    background-color:#403866;
}
hr {
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255); /* Or any color you prefer */
    box-shadow: 0px 0px 10px 2px 
    rgba(0,0,0,0.1); /* This adds a shadow */
}
.error-pos {
    color: red;
    text-align: center;
}